@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Raleway:400,500,600,600i,700|Slabo+27px&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Open Sans', serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}


a {
	text-decoration: none;
}